.navbar{
    display: flex;
    position: fixed;
    top :0px;
    flex-direction: row;
    width: 100vw;
    background-color: white;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    justify-content: center;
    z-index: 100;
    & input{
        margin-top: 4px;
        margin-right: 50px;
        height: 15px;
    }
    & img{
        margin-top: 5px;
        margin-right: 10px;
        cursor: pointer;
        height: 20px;
    }
    & #instalogo{
        margin-top: 5px;
        margin-right: 120px;
        cursor: pointer;
    }
}